<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.gms.mapper.vehiclemanager.VehicleMapper">

    <sql id="findVehicleList">
        select tv.*, tvt.VEHICLETYPE, tvt.VEHICLESPECIFICATION, tvt.VEHICLETON,tvtvt.VEHICLETYPEID, tvt.VEHICLEICON,
        su.USERNAME,su.USERID
        from t_vehicle tv
        left join t_vehicle_vehicleType tvtvt on (tv.VEHICLEID = tvtvt.VEHICLEID)
        left join t_vehicle_type tvt on (tvtvt.VEHICLETYPEID = tvt.VEHICLETYPEID)
        left join t_user_vehicle tuv on (tv.VEHICLEID = tuv.VEHICLEID)
        left join sys_user su on (tuv.USERID = su.USERID)
        where 1=1
        <if test="vehicle.userId!=null and vehicle.userId!=''">
            and su.USERID=#{vehicle.userId}
        </if>
        <if test="vehicle.vehicleTypeId!=null and vehicle.vehicleTypeId!=''">
            and tvt.VEHICLETYPEID=#{vehicle.vehicleTypeId}
        </if>
    </sql>
    <select id="findVehicleListPage" parameterType="com.zs.gms.entity.vehiclemanager.Vehicle"
            resultType="com.zs.gms.entity.vehiclemanager.Vehicle">
        <include refid="findVehicleList"></include>
    </select>

    <select id="findVehicleList" parameterType="com.zs.gms.entity.vehiclemanager.Vehicle"
            resultType="com.zs.gms.entity.vehiclemanager.Vehicle">
        <include refid="findVehicleList"></include>
    </select>

    <select id="findUserIdByVehicleNo" parameterType="string" resultType="integer">
        select tuv.USERID from t_vehicle tv
        left join t_user_vehicle tuv on (tv.VEHICLEID = tuv.VEHICLEID)
        where 1 = 1
        <if test="vehicleNo!=null and vehicleNo!=''">
            and tv.VEHICLENO=#{vehicleNo}
        </if>
    </select>
</mapper>