<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.gms.mapper.monitor.TaskRuleMapper">

    <select id="findVehicleLastTimeRule" parameterType="string" resultType="com.zs.gms.entity.monitor.TaskRule">
        select *
        from t_task_rule
        where VEHICLEID = #{vehicleId}
          and STATUS not in('3','5')
        order by ADDTIME desc
        limit 1
    </select>

    <select id="getUnitVehicleList" parameterType="integer" resultType="com.zs.gms.entity.vehiclemanager.Barney">
        select *
        from t_task_rule tdt
                 inner join t_vehicle tv on tdt.VEHICLEID = tv.VEHICLENO
        where tdt.UNITID = #{unitId}
          and tdt.STATUS not in('3','5')
    </select>

    <select id="getLastLoadTaskRule" parameterType="integer" resultType="com.zs.gms.entity.monitor.TaskRule">
        select *
        from t_dispatch_task tdt
                 inner join t_task_rule ttr on tdt.UNITID = ttr.UNITID
        where tdt.dispatchTaskType = '2'
          and tdt.UNITID = #{unitId} and ttr.status not in('3','5')
        order by ttr.addTime desc
        limit 1
    </select>

    <select id="getVehiclesByUserId" parameterType="integer" resultType="com.zs.gms.entity.vehiclemanager.Barney">
        select *
        from t_vehicle
        where VEHICLEID not in (
            select tv.VEHICLEID
            from t_vehicle tv
                     inner join t_task_rule tdt on tdt.VEHICLEID = tv.VEHICLENO
            where tdt.USERID = #{userId}
              and tdt.status not in('3','5'))
    </select>

</mapper>