<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.gms.mapper.monitor.UnitMapper">

    <select id="getUnitListPage" resultType="com.zs.gms.entity.monitor.Unit">
        select tu.*,
               su.USERNAME
        from t_unit tu
                 left join sys_user su on tu.USERID = su.USERID
        where tu.ISDEL=false
    </select>
</mapper>